In [1]:
import pandas as pd
import numpy as np
from pysr import pysr, best
from sklearn import preprocessing

import matplotlib.pylab as plt

import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

import math

In [2]:
data = pd.read_csv("ROP data.csv")

In [3]:
data.head()

   year name      WOB  ROP data    Db  RPM    UCS  NOC  BR  SR    Dc  NOB
0  2019   SWG  2543.8       6.2  3.75   80  28000   11  25   1  0.51    4
1  2019   SWG  3048.9      11.9  3.75   80  28000   11  25   1  0.51    4
2  2019   SWG  3538.7      19.5  3.75   80  28000   11  25   1  0.51    4
3  2019   SWG  4066.2      28.6  3.75   80  28000   11  25   1  0.51    4
4  2019   SWG  4574.9      36.6  3.75   80  28000   11  25   1  0.51    4

In [4]:
data.columns

Index(['year', 'name ', 'WOB', 'ROP data', 'Db', 'RPM', 'UCS', 'NOC', 'BR',
       'SR', 'Dc', 'NOB'],
      dtype='object')

In [5]:
keep_clmns = ['WOB', 'Db', 'RPM', 'UCS', 'NOC', 'BR', 'SR', 'Dc', 'NOB']
X = data[keep_clmns]

keep_clmns = ['ROP data',]
Y = data[keep_clmns]

In [6]:
X.head()

      WOB    Db  RPM    UCS  NOC  BR  SR    Dc  NOB
0  2543.8  3.75   80  28000   11  25   1  0.51    4
1  3048.9  3.75   80  28000   11  25   1  0.51    4
2  3538.7  3.75   80  28000   11  25   1  0.51    4
3  4066.2  3.75   80  28000   11  25   1  0.51    4
4  4574.9  3.75   80  28000   11  25   1  0.51    4

In [7]:
Y.head()

   ROP data
0       6.2
1      11.9
2      19.5
3      28.6
4      36.6

In [8]:
X.describe().T

,count,mean,std,min,25%,50%,75%,max
WOB,88.0,2967.525501,986.156551,1090.00,2287.50,3033.55165,3692.50,5088.248694
Db,88.0,3.750000,0.000000,3.75,3.75,3.75000,3.75,3.750000
RPM,88.0,123.636364,28.169512,80.00,100.00,120.00000,150.00,160.000000
UCS,88.0,24437.500000,7904.099220,7100.00,28000.00,28000.00000,28000.00,28000.000000
NOC,88.0,12.454545,2.094926,11.00,11.00,11.00000,13.00,16.000000
BR,88.0,19.204545,4.964608,15.00,15.00,15.00000,25.00,25.000000
SR,88.0,1.000000,0.000000,1.00,1.00,1.00000,1.00,1.000000
Dc,88.0,0.463636,0.039717,0.43,0.43,0.43000,0.51,0.510000
NOB,88.0,4.454545,0.500783,4.00,4.00,4.00000,5.00,5.000000

In [9]:
Y.describe().T

,count,mean,std,min,25%,50%,75%,max
ROP data,88.0,33.051984,27.326698,1.646927,12.2,26.125011,44.375,127.7

In [10]:
X_np = np.array(X)
Y_np = np.array(Y)

In [11]:
X_np.shape

(88, 9)

In [12]:

Y_np.shape

(88, 1)

In [13]:
Y_np_flat = Y_np.flatten()

In [14]:
Y_np_flat.shape

(88,)

In [15]:
%%time
# learn equation
equation = pysr(X_np,
                Y_np_flat,
                loss="LPDistLoss{2}()",
                procs=10,
                populations=100,
                niterations=100,
                binary_operators=["plus", "sub", "mult", "pow", "div"],
                unary_operators=[],
                verbosity=0, 
                variable_names=['WOB', 'Db', 'RPM', 'UCS', 'NOC', 'BR', 'SR', 'Dc', 'NOB'])

RuntimeError: Couldn't find equation file! The equation search likely exited before a single iteration completed.

In [ ]:
print(best(equation))

NameError: name 'equation' is not defined

In [ ]:
best_equation = equation.iloc[equation.MSE.argmin()]

In [ ]:
X.head()

In [ ]:
equation

In [ ]:
def best_equation(row):
    variable_names=['WOB', 'Db', 'RPM', 'UCS', 'NOC', 'BR', 'SR', 'Dc', 'NOB']
    
    variable_names = row
    
    # Y = pow((((pow(x0, 0.58327144) - x5) * 0.92625475) + -29.036554) + ((math.cos(x3) * x1) * (x4 + 4.0001407)), 1.002844)
    # Y = 0.1752066*x2 + 3.2127466*x4*math.cos(x3) + 23.291798 #best equation
    # Y =pow((((pow(x0, 0.58327144) - x5) * 0.92625475) + -29.036554) + ((math.cos(x3) * x1) * (x4 + 4.0001407)), 1.002844)
    # Y = 4.05730505196961*x2*abs(2.323865 - x3/x0)**(-1*math.sin(2.5767245*x5))/x8
    # Y = -(x0*x2 + x4*x7*(x0 - x3))/(x7*(x0 - x3))
#     Y = ((((x2 + 28.162392) / (((x3 * x7) / x0) - 0.2731424)) - (math.exp(math.sin(x3)) - math.cos(x3))) - x4)
    # Y = (((math.exp(3.420353 + math.cos(x3)) + math.cos(x4)) + x8) + (-17.579283 * math.sin(math.cos((1.2552736 * x0) + x5))))
    Y= (-UCS*(NOB + NOC)*abs((BR*Dc)**0.40197763) + 3.6019855*WOB*(RPM + 124.04259))/(UCS*abs((BR*Dc)**0.40197763))
    
    return abs(Y)

In [ ]:
X.head()

In [ ]:
# row = np.array([2.39e-01, 2.00e-02, 0, 0])
# best_equation(row)
# print(np.apply_along_axis(best_equation, 1, X_nor_np))
estimated = np.apply_along_axis(best_equation, 1, X_np)
plt.figure(figsize=(7,7))
plt.plot(estimated, label="Best Model")
plt.plot(Y_np, label="Data")
plt.xlim(0,120),plt.xlabel("estimated")
plt.ylim(0,120),plt.ylabel("data")
plt.legend()

In [ ]:
plt.figure(figsize=(7,7))
plt.scatter(estimated, Y_np)
plt.xlim(0,120),plt.xlabel("estimated")
plt.ylim(0,120),plt.ylabel("data")